doctype html
html
  head
    title Animales Fantasticos
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/CSS/style.css')
    link(rel="stylesheet" href="bootstrap.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/03a6f41ea4.js" crossorigin="anonymous")
  body
    block content
    script(src="/assets/JS/main.js")
